$default-color: #fcb653, #e2a34a;
$movie-color: #8BEF86, #69EF62;
$tv-color: #FF7770, #F2716A;
$game-color: #6BF9F9, #43F2F2;
$book-color: #FF96FF, #F26AF2;
$shadow: 1px 1px 5px rgba(0,0,0,0.5), -1px -1px 5px rgba(0,0,0,0.5);