@import "constants.scss";
@import "mixins";
@import "universalstyles.scss";
@import "drawermenu.scss";
@import "moviecard.scss";
@import "navbuttons.scss";
@import "errorstyles.scss";
@import "popup.scss";
@import "preview.scss";



#view-title{
  margin-top: 55px;
}
.navbar{
  background-color:  nth($default-color,2);
  box-shadow: $shadow;
}

.list-card{
  box-shadow: $shadow;
  border-radius: 15px;
}

main .app{
  background-color:#eeeeee;
  font-family:sans-serif;
  min-height:100vh;
  width:100vw;
}


#create-item-menu{
  font-size: 0.8rem;
  text-align: left;
  
}

.menu-item{
  padding: 10px 0px 10px 0px;
  padding-left:15px;
}








