@import "constants.scss";
@import "searchbar.scss";
@import "drawermenu.scss";
@import "moviecard.scss";
@import "navbuttons";

.navbar{
  background-color:  $default-color;
  box-shadow: $shadow;
}

.list-card{
  box-shadow: $shadow;
  border-radius: 15px;
}

main .app{
  background-color:#eeeeee;
  font-family:sans-serif;
  height:100vh;
  width:100vw;
}


#create-item-menu{
  font-size: 0.8rem;
  text-align: left;
  
}

.menu-item{
  padding: 10px 0px 10px 0px;
  padding-left:15px;
}

#Movie:hover{
  background-color:$movie-color;
}

#TV:hover{
  background-color: $tv-color;
}
#Book:hover{
  background-color: $book-color;
}

#Game:hover{
   background-color: $game-color;
}







