@mixin add-color($child, $color, $color2) {
  &:nth-child(#{$child}) {
    &:hover{
    background-color: $color;
    }
    &:active{
    background-color: $color2;
    }
    .active{
      background-color:$color;
    }
  }
}

@mixin collections-add-color($color, $color2) {
    &:hover{
    background-color: $color;
    }
    &:active{
    background-color: $color2;
    }

}