@mixin add-color($child, $color, $color2) {
  &:nth-child(#{$child}) {
    &:hover{
    background-color: $color;
    }
    &:active{
    background-color: $color2;
    }
    .active{
      background-color:$color;
    }
  }
}

@mixin collections-add-color($color, $color2) {
    &:hover{
    background-color: $color;
    }
    &:active{
    background-color: $color2;
    }

}

@mixin tooltip($content, $right, $top, $wrap){
  &::before{
        background: #111;
        background: rgba(0,0,0,.8);
        border-radius: .5em;
        color: #fff;
        content: $content;
        display: block;
        right: $right;
        top: $top;  
        padding: .3em 1em;
        position: absolute;
        text-shadow: 0 1px 0 #000;
        white-space: $wrap;
        z-index: 98;
        font-size: 1rem;
  }      
}

@mixin buttonClick($color1, $color2){
  position: relative;
  background-color: $color1;
  box-shadow:0px 6px 2px $color2;
   &:hover{
        top: 3px;
        box-shadow:0px 3px 1px $color2;
  }
}