@import "constants.scss";

/*************classes for colouring ************/

$wl-colors: (
  movie: nth($movie-color,1),
  tv: nth($tv-color,1),
  game: nth($game-color,1),
  book: nth($book-color,1)
);

$types-list: movie, tv, game, book;
@each $type in $types-list {
    .#{$type} { 
        background-color: map-get($wl-colors, $type);
    }
}



.card{
  margin: 25px;
  width: 300px;
  box-shadow: $shadow;
  .icon{
    font-size:2em;
    height:50px;
    width: 50px;
    background-color: #ffffff;
    border-radius: 50%;
  }
  .card-content{
    background-color:white;
  }
  p {
    margin-bottom:0px;
  }
}

.movie-thumb{
  height:200px;
  box-shadow: 2px 2px 150px black;
}

.image-wrapper{
  overflow:hidden;
  background-color: #567DA7;
  background-size: cover;
}

.delete-button{
  
  color:white;
  font-size:1.2rem;
  box-shadow: $shadow;
  height:2rem;
  width:2rem;
  margin:0px;
  padding:0px;
  border-radius:50%;
  border: 2px solid white;
  background-color:red;
  position: absolute;
  z-index: 25;
  top: -10px;
  right: -10px;
  > i{
    cursor: default;
    font-size:1.4rem;
  }
}

.collection-item{
  margin-right:2px;
  padding:0px 0px;
}

.media-note{
  width:100%;
}

.context-button{
  margin:0 auto;
  font-size:2em;
  padding:10px;
  width:100px;
  height: 70px;
  padding-top: 2px;
  border-radius:50%;
  border: 2px solid black;
}

.selected-content{
  display: none;
}

.media-note{
  border:none;
}

.fade-item{
  display:none;
}





