@import "constants.scss";

/*************classes for colouring ************/

$wl-colors: (
  movie: nth($movie-color,1),
  tv: nth($tv-color,1),
  game: nth($game-color,1),
  book: nth($book-color,1)
);

$types-list: movie, tv, game, book;
@each $type in $types-list {
    .#{$type} { 
        background-color: map-get($wl-colors, $type);
    }
}



.card{
  margin: 25px;
  box-shadow: $shadow;
  height:450px;
  width:80%;
  max-width:330px;
  padding:10px;
  overflow:hidden;
  .card-inner{
    height:100%;
    width:100%;
    .card-bg{
     background-image: url(https://image.tmdb.org/t/p/w600_and_h900_bestv2/dCtFvscYcXQKTNvyyaQr2g2UacJ.jpg);
     background-size:cover;
     z-index:5;
     height:100%;
     width:100%;
    }
    .card-icon{
      top:0%;
      left: 90%;
      position: absolute;
    }
    .card-info{
      border-top: 4px solid orange;
      left:0;
      width:100%;
      z-index: 20;
      position: absolute;
      bottom: -100%;
      background-color:white;
      transition: bottom 1s;
      .year{
        font-size:0.7em
      }
      .collection-tag{
        background-color: #ddd;
        border-radius: 5px;
        padding: 0px 5px;
        transition: background-color 1s;
        &:hover{
          background-color: orange;
        }
      }
      .btn-more-info{
        background-color: orange;
        width:100%;
        &:hover{
          background-color: #ffc04d;
        }
      }
      .btn-actions{
        width:30%;
        background-color: orange;
         &:hover{
          background-color: #ffc04d;
        }
      }
    }
    &:hover .card-info{
      bottom:-0px;
    }
  }
  
}




.delete-button{
  
  color:white;
  font-size:1.2rem;
  box-shadow: $shadow;
  height:2rem;
  width:2rem;
  margin:0px;
  padding:0px;
  border-radius:50%;
  border: 2px solid white;
  background-color:red;
  position: absolute;
  z-index: 25;
  top: -10px;
  right: -10px;
  > i{
    cursor: default;
    font-size:1.4rem;
  }
}



