@import "constants.scss";

$card-max-height: 341px;
$card-max-width: 250px;

/*************classes for colouring ************/


.card{
  margin: 25px;
  box-shadow: $shadow;
  height: $card-max-height;
  max-width: $card-max-width;
  width:80%;
  padding:7px;
  overflow:hidden;
  .card-inner{
    height:100%;
    width:100%;
    .card-bg{
     background-image: url(https://image.tmdb.org/t/p/w600_and_h900_bestv2/dCtFvscYcXQKTNvyyaQr2g2UacJ.jpg);
     background-size: 100% 100%;
     z-index:5;
     height:100%;
     width:100%;
    }
    .card-icon{
      top:0%;
      left: 90%;
      position: absolute;
    }
    .card-info{
      border-top: 4px solid orange;
      height: $card-max-height;
      width:100%;
      left:0;
      z-index: 20;
      position: absolute;
      bottom: -110%;
      background-color:white;
      transition: bottom 1s;
      overflow-y: scroll;
      overflow-x: hidden;
      .year{
        font-size:0.7em
      }
      .btn-more-info{
        background-color: orange;
        width:100%;
        &:hover{
          background-color: #ffc04d;
        }
      }
      .btn-actions{
        margin-top:10px;
        margin-bottom: 10px;
        width:40px;
        height: 40px;
        border-radius:50%;
      }
    }
    &:hover .card-info{
      bottom:-0px;
    }
  }

}

.info-card{
  overflow-y:scroll;
  height:50vh;
  width:95%;
  max-width: 350px;
  hr{
    margin:0px;
    width:99%;
    border-top: 2px solid nth($default-color,1);
  }
}



