@import "constants.scss";
@import "mixins.scss";

$colorlist:(
  add: $default-color,
  movie: $movie-color,
  tv: $tv-color,
  game: $game-color,
  book: $book-color
);

$toolTips:(
  add: "click here to add a new item",
  movie: "New Movie",
  tv: "New Tv Show",
  game: "New Game",
  book: "New Book"
);

$typelist: add, movie, tv, game, book;
$zpos: -5;

@each $type in $typelist{
  ##{$type}{
    position:absolute;
    top:7px;
    right: 5%;
    z-index: $zpos;
    display: none;
    @if $type == add {
      box-shadow: $shadow;
      z-index:10;
      display:flex;
    }
    background-color: nth(map-get($colorlist,$type),1);
    &:hover{
      background-color: nth(map-get($colorlist,$type),2);
      @include tooltip(map-get($toolTips,$type), 50px, 0px, nowrap);
    }
    i{
      font-size:1.5rem;
    }
  }
}

.nav-button{
  border-radius:50%;
  width:40px;
  height:40px;
}



