@import "constants.scss";

.preview{
  hr{
    width:99%;
    border-top: 4px solid nth($default-color,1);
  }
  margin:0 auto;
  img{
    margin:0 auto;
  }
  .controls{
    margin-bottom:10px;
    div{
      width: 50px;
      height:50px;
      border:1px solid;
      border-radius:50%;
      text-align: center;
      padding-top:10px
    }
  }
  .tag{
    padding: 0px 5px;
    border-radius:40px;
    background-color:orange;
    margin-left: 5px;
  }
  .add-tag{
    color:black;
    border:none;
    background: none;
    padding: 0px 5px;
    width:85px;
    &::placeholder { color: black;}
    &:focus {outline:0;}
  }
  .desc-box{
    max-height:200px;
    overflow-y: scroll;
  }
  .actor-thumb{

    margin: 0 auto;
    
    .img-container{
      border:2px solid white;
      box-shadow: $shadow;
      width:120px;
      height: 150px;
      overflow: hidden;
      border-radius: 5px;
      img{
        position:relative;
        bottom:10px;
        width:100%;
      }
    }
  }
  .notes-area{
    width: 100%;
    margin-top: 15px;
    background-color: rgb(221, 221, 221);
    border-radius: 5px;
    border: none;
    border-bottom: 4px solid rgb(252, 182, 83);
    margin-bottom: 0px;
    height: 131px;
  }

}