@import "constants.scss";
@import "mixins.scss";

.collection-tag{
  background-color: #ddd;
  border-radius: 5px;
  padding: 0px 5px;
  transition: background-color 1s;
  @include collections-add-color(nth($default-color,1), nth($default-color,2));
}

.alert-warning{
  text-align: center;
  position: fixed;
  top: 50px;
  z-index: 9999;
  width: 100%;
}
.btn-default{
  @include buttonClick(nth($default-color,1), nth($default-color,2));
}

body{
  font-family: 'Montserrat', sans-serif;
}

.heading{
  font-family: 'Bungee', cursive;
}

.input-box-wrapper{
  position:relative;
  label{
    position: absolute;
    left: 5%;
    bottom:0px;
    pointer-events: none;
  }
}


/*classes for animating collapsable menus*/
.right{
  transform: rotate(0deg);
}

.down{
  transform:rotate(90deg);
}
