

@import "../constants.scss";
@import "./popup-submenus/preview.scss";
@import "./popup-submenus/search.scss";

.obscure{
  display:none;
  position:fixed;
  top: 0;
  z-index: 5000;
  min-height: 100vh;
  width:100vw;
  background-color:rgba(0,0,0,0.5);
  #add-or-edit-container{
    position:relative;
    top: 50px;
    width: 95vw;
    max-width: 600px;
    height:90vh;
    max-height: 900px;
    overflow-y:scroll; 
    overflow-x:hidden;
    background-color: white;
    box-shadow:1px 1px 2px rgba(0,0,0,0.1);
    #add-collection{
      padding: 0;
      border:none;
      border-bottom: 1px solid black;
      @include tooltip("press enter to add your tag", 0px, 50px, nowrap)
    }
    #add-new-label{
      pointer-events: none;
      position:absolute;
    }
  }
}

#background{
  position: absolute;
  width:100vw;
  height:100vh;
  background-color:
    #444444;
}






