#search {
  margin: 0 auto;
  width: 60%;
  padding-top: 1%;
  padding-bottom: 1%;
}

#app {
  overflow: hidden;
}

#menu {
  box-shadow: 1px 1px 5px rgba(0, 0, 0, 0.5), -1px -1px 5px rgba(0, 0, 0, 0.5);
  padding-top: 20px;
  z-index: 2000;
  position: fixed;
  height: 100vh;
  left: -210px;
  width: 200px;
  border-right: 4px solid #fcb653;
  background-color: white;
}
#menu .sub-head {
  font-size: 1.1rem;
  padding-left: 10px;
}

.menu-list {
  list-style-type: none;
  padding-left: 0px;
}

.menu-list li {
  border-radius: 0 15px 15px 0;
  padding-left: 20px;
  width: 95%;
  height: 30px;
}

#filter-menu li:nth-child(1):hover {
  background-color: #fcb653;
}
#filter-menu li:nth-child(1):active {
  background-color: #e2a34a;
}
#filter-menu li:nth-child(1) .active {
  background-color: #fcb653;
}
#filter-menu li:nth-child(2):hover {
  background-color: #8BEF86;
}
#filter-menu li:nth-child(2):active {
  background-color: #69EF62;
}
#filter-menu li:nth-child(2) .active {
  background-color: #8BEF86;
}
#filter-menu li:nth-child(3):hover {
  background-color: #FF7770;
}
#filter-menu li:nth-child(3):active {
  background-color: #F2716A;
}
#filter-menu li:nth-child(3) .active {
  background-color: #FF7770;
}
#filter-menu li:nth-child(4):hover {
  background-color: #6BF9F9;
}
#filter-menu li:nth-child(4):active {
  background-color: #43F2F2;
}
#filter-menu li:nth-child(4) .active {
  background-color: #6BF9F9;
}
#filter-menu li:nth-child(5):hover {
  background-color: #FF96FF;
}
#filter-menu li:nth-child(5):active {
  background-color: #F26AF2;
}
#filter-menu li:nth-child(5) .active {
  background-color: #FF96FF;
}

#add-new-input {
  display: none;
}
#add-new-input input {
  width: 80%;
}

#category-list li:hover {
  background-color: #fcb653;
}
#category-list li:active {
  background-color: #e2a34a;
}

/*************classes for colouring ************/
.movie {
  background-color: #8BEF86;
}

.tv {
  background-color: #FF7770;
}

.game {
  background-color: #6BF9F9;
}

.book {
  background-color: #FF96FF;
}

.card {
  margin: 25px;
  box-shadow: 1px 1px 5px rgba(0, 0, 0, 0.5), -1px -1px 5px rgba(0, 0, 0, 0.5);
  height: 450px;
  width: 80%;
  max-width: 330px;
  padding: 10px;
  overflow: hidden;
}
.card .card-inner {
  height: 100%;
  width: 100%;
}
.card .card-inner .card-bg {
  background-image: url(https://image.tmdb.org/t/p/w600_and_h900_bestv2/dCtFvscYcXQKTNvyyaQr2g2UacJ.jpg);
  background-size: cover;
  z-index: 5;
  height: 100%;
  width: 100%;
}
.card .card-inner .card-icon {
  top: 0%;
  left: 90%;
  position: absolute;
}
.card .card-inner .card-info {
  border-top: 4px solid orange;
  left: 0;
  width: 100%;
  z-index: 20;
  position: absolute;
  bottom: -100%;
  background-color: white;
  transition: bottom 1s;
}
.card .card-inner .card-info .year {
  font-size: 0.7em;
}
.card .card-inner .card-info .collection-tag {
  background-color: #ddd;
  border-radius: 5px;
  padding: 0px 5px;
  transition: background-color 1s;
}
.card .card-inner .card-info .collection-tag:hover {
  background-color: orange;
}
.card .card-inner .card-info .btn-more-info {
  background-color: orange;
  width: 100%;
}
.card .card-inner .card-info .btn-more-info:hover {
  background-color: #ffc04d;
}
.card .card-inner .card-info .btn-actions {
  width: 30%;
  background-color: orange;
}
.card .card-inner .card-info .btn-actions:hover {
  background-color: #ffc04d;
}
.card .card-inner:hover .card-info {
  bottom: 0px;
}

.delete-button {
  color: white;
  font-size: 1.2rem;
  box-shadow: 1px 1px 5px rgba(0, 0, 0, 0.5), -1px -1px 5px rgba(0, 0, 0, 0.5);
  height: 2rem;
  width: 2rem;
  margin: 0px;
  padding: 0px;
  border-radius: 50%;
  border: 2px solid white;
  background-color: red;
  position: absolute;
  z-index: 25;
  top: -10px;
  right: -10px;
}
.delete-button > i {
  cursor: default;
  font-size: 1.4rem;
}

#add {
  position: absolute;
  top: 7px;
  right: 5%;
  z-index: -5;
  display: none;
  box-shadow: 1px 1px 5px rgba(0, 0, 0, 0.5), -1px -1px 5px rgba(0, 0, 0, 0.5);
  z-index: 10;
  display: flex;
  background-color: #fcb653;
}
#add:hover {
  background-color: #e2a34a;
}
#add:hover::before {
  background: #111;
  background: rgba(0, 0, 0, 0.8);
  border-radius: 0.5em;
  color: #fff;
  content: "click here to add a new item";
  display: block;
  right: 50px;
  padding: 0.3em 1em;
  position: absolute;
  text-shadow: 0 1px 0 #000;
  white-space: nowrap;
  z-index: 98;
}
#add i {
  font-size: 1.5rem;
}

#movie {
  position: absolute;
  top: 7px;
  right: 5%;
  z-index: -5;
  display: none;
  background-color: #8BEF86;
}
#movie:hover {
  background-color: #69EF62;
}
#movie:hover::before {
  background: #111;
  background: rgba(0, 0, 0, 0.8);
  border-radius: 0.5em;
  color: #fff;
  content: "New Movie";
  display: block;
  right: 50px;
  padding: 0.3em 1em;
  position: absolute;
  text-shadow: 0 1px 0 #000;
  white-space: nowrap;
  z-index: 98;
}
#movie i {
  font-size: 1.5rem;
}

#tv {
  position: absolute;
  top: 7px;
  right: 5%;
  z-index: -5;
  display: none;
  background-color: #FF7770;
}
#tv:hover {
  background-color: #F2716A;
}
#tv:hover::before {
  background: #111;
  background: rgba(0, 0, 0, 0.8);
  border-radius: 0.5em;
  color: #fff;
  content: "New Tv Show";
  display: block;
  right: 50px;
  padding: 0.3em 1em;
  position: absolute;
  text-shadow: 0 1px 0 #000;
  white-space: nowrap;
  z-index: 98;
}
#tv i {
  font-size: 1.5rem;
}

#game {
  position: absolute;
  top: 7px;
  right: 5%;
  z-index: -5;
  display: none;
  background-color: #6BF9F9;
}
#game:hover {
  background-color: #43F2F2;
}
#game:hover::before {
  background: #111;
  background: rgba(0, 0, 0, 0.8);
  border-radius: 0.5em;
  color: #fff;
  content: "New Game";
  display: block;
  right: 50px;
  padding: 0.3em 1em;
  position: absolute;
  text-shadow: 0 1px 0 #000;
  white-space: nowrap;
  z-index: 98;
}
#game i {
  font-size: 1.5rem;
}

#book {
  position: absolute;
  top: 7px;
  right: 5%;
  z-index: -5;
  display: none;
  background-color: #FF96FF;
}
#book:hover {
  background-color: #F26AF2;
}
#book:hover::before {
  background: #111;
  background: rgba(0, 0, 0, 0.8);
  border-radius: 0.5em;
  color: #fff;
  content: "New Book";
  display: block;
  right: 50px;
  padding: 0.3em 1em;
  position: absolute;
  text-shadow: 0 1px 0 #000;
  white-space: nowrap;
  z-index: 98;
}
#book i {
  font-size: 1.5rem;
}

.nav-button {
  border-radius: 50%;
  width: 40px;
  height: 40px;
}

.no-results {
  margin-top: 150px;
  color: #dddddd;
}
.no-results h1 {
  font-size: 5rem;
  color: #dddddd;
}

.obscure {
  display: none;
  position: fixed;
  top: 0;
  z-index: 5000;
  min-height: 100vh;
  width: 100vw;
  background-color: rgba(0, 0, 0, 0.5);
}
.obscure #add-or-edit-container {
  position: relative;
  top: 50px;
  width: 300px;
  height: 550px;
  background-color: white;
  box-shadow: 1px 1px 2px rgba(0, 0, 0, 0.1);
}
@media screen and (max-width: 400) {
  .obscure #add-or-edit-container {
    top: 40px;
    width: 100vw;
  }
}
.obscure #add-or-edit-container #add-collection {
  padding: 0;
  border: none;
  border-bottom: 1px solid black;
}
.obscure #add-or-edit-container #add-new-label {
  pointer-events: none;
  position: absolute;
}

#background {
  position: absolute;
  width: 100vw;
  height: 100vh;
  background-color: #444444;
}

/*******  Popup search menu styles ******/
#add-or-edit-container #search-box {
  margin-top: 5px;
  width: 100%;
  font-size: 1.5rem;
}
#add-or-edit-container #search-box textarea {
  border: none;
  margin: 0 auto;
  font-size: 1.5rem;
  border-bottom: 1px solid black;
}
#add-or-edit-container #search-box .toggle-search .on {
  color: black;
}
#add-or-edit-container #search-box .toggle-search .off {
  color: #aaaaaa;
}
#add-or-edit-container #search-box .toggle-search i {
  pointer-events: none;
}
#add-or-edit-container .img-box {
  margin-top: 5px;
  width: 100%;
}
#add-or-edit-container #note-box {
  margin-top: 5px;
  width: 100%;
}
#add-or-edit-container #note-box textarea {
  width: 80%;
  border: none;
  margin: 0 auto;
  border-bottom: 1px solid black;
}

#watch-list {
  margin-top: 50px;
}

.navbar {
  background-color: #e2a34a;
  box-shadow: 1px 1px 5px rgba(0, 0, 0, 0.5), -1px -1px 5px rgba(0, 0, 0, 0.5);
}

.list-card {
  box-shadow: 1px 1px 5px rgba(0, 0, 0, 0.5), -1px -1px 5px rgba(0, 0, 0, 0.5);
  border-radius: 15px;
}

main .app {
  background-color: #eeeeee;
  font-family: sans-serif;
  min-height: 100vh;
  width: 100vw;
}

#create-item-menu {
  font-size: 0.8rem;
  text-align: left;
}

.menu-item {
  padding: 10px 0px 10px 0px;
  padding-left: 15px;
}

/*# sourceMappingURL=main.css.map */
