#app {
  overflow: hidden;
}

#menu {
  box-shadow: 1px 1px 5px rgba(0, 0, 0, 0.5), -1px -1px 5px rgba(0, 0, 0, 0.5);
  padding-top: 20px;
  z-index: 2000;
  position: fixed;
  height: 100vh;
  left: -240px;
  width: 230px;
  border-right: 4px solid #fcb653;
  background-color: white;
  overflow-y: auto;
}
#menu .sub-head {
  font-size: 1.1rem;
  padding-left: 10px;
}

.menu-list {
  list-style-type: none;
  padding-left: 0px;
}

.menu-list li {
  border-radius: 0 15px 15px 0;
  padding-left: 20px;
  width: 95%;
  height: 30px;
}

#filter-menu li:hover {
  background-color: #fcb653;
}
#filter-menu li:active {
  background-color: #e2a34a;
}

#add-new-input {
  display: none;
}
#add-new-input input {
  width: 80%;
}

.category-list li:hover {
  background-color: #fcb653;
}
.category-list li:active {
  background-color: #e2a34a;
}

#browse-genres p {
  display: none;
}

/*************classes for colouring ************/
.card {
  margin: 25px;
  box-shadow: 1px 1px 5px rgba(0, 0, 0, 0.5), -1px -1px 5px rgba(0, 0, 0, 0.5);
  height: 341px;
  max-width: 250px;
  width: 80%;
  padding: 7px;
  overflow: hidden;
}
.card .card-inner {
  height: 100%;
  width: 100%;
}
.card .card-inner .card-bg {
  background-image: url(https://image.tmdb.org/t/p/w600_and_h900_bestv2/dCtFvscYcXQKTNvyyaQr2g2UacJ.jpg);
  background-size: 100% 100%;
  z-index: 5;
  height: 100%;
  width: 100%;
}
.card .card-inner .card-icon {
  top: 0%;
  left: 90%;
  position: absolute;
}
.card .card-inner .card-info {
  border-top: 4px solid orange;
  height: 341px;
  width: 100%;
  left: 0;
  z-index: 20;
  position: absolute;
  bottom: -110%;
  background-color: white;
  transition: bottom 1s;
  overflow-y: auto;
  overflow-x: hidden;
}
.card .card-inner .card-info .year {
  font-size: 0.7em;
}
.card .card-inner .card-info .btn-more-info {
  background-color: orange;
  width: 100%;
}
.card .card-inner .card-info .btn-more-info:hover {
  background-color: #ffc04d;
}
.card .card-inner .card-info .btn-actions {
  margin-top: 10px;
  margin-bottom: 10px;
  width: 40px;
  height: 40px;
  border-radius: 50%;
}
.card .card-inner:hover .card-info {
  bottom: 0px;
}

.info-card {
  overflow-y: auto;
  border: 5px solid white;
  height: 50vh;
  width: 95%;
  max-width: 350px;
}
@media screen and (max-width: 575px) {
  .info-card {
    height: 80vh;
    border-bottom: 4px solid #fcb653;
  }
}
.info-card hr {
  margin: 0px;
  width: 99%;
  border-top: 2px solid #fcb653;
}

.preview {
  margin: 0 auto;
}
.preview .img-wrapper img {
  height: 270px;
  width: 180px;
}
.preview hr {
  width: 99%;
  border-top: 4px solid #fcb653;
}
.preview img {
  margin: 0 auto;
}
.preview .controls {
  margin-bottom: 10px;
  height: 60px;
  border-bottom: 4px solid #fcb653;
}
@media screen and (max-width: 575px) {
  .preview .controls {
    border-top: 4px solid #fcb653;
    border-bottom: 4px solid #fcb653;
  }
}
.preview .controls div {
  width: 30px;
  height: 30px;
  border-radius: 50%;
  text-align: center;
}
.preview .controls .btn-add-to-list:hover::before {
  background: #111;
  background: rgba(0, 0, 0, 0.8);
  border-radius: 0.5em;
  color: #fff;
  content: "Add To List";
  display: block;
  right: none;
  top: 50px;
  padding: 0.3em 1em;
  position: absolute;
  text-shadow: 0 1px 0 #000;
  white-space: nowrap;
  z-index: 98;
  font-size: 1rem;
}
.preview .controls .btn-add-to-list:hover::before {
  position: absolute;
  font-size: 1rem;
}
.preview .controls .btn-thumbs-up:hover::before {
  background: #111;
  background: rgba(0, 0, 0, 0.8);
  border-radius: 0.5em;
  color: #fff;
  content: "like";
  display: block;
  right: none;
  top: 50px;
  padding: 0.3em 1em;
  position: absolute;
  text-shadow: 0 1px 0 #000;
  white-space: nowrap;
  z-index: 98;
  font-size: 1rem;
}
.preview .controls .btn-thumbs-up:hover::before {
  position: absolute;
  font-size: 1rem;
}
.preview .controls .btn-thumbs-down:hover::before {
  background: #111;
  background: rgba(0, 0, 0, 0.8);
  border-radius: 0.5em;
  color: #fff;
  content: "dislike";
  display: block;
  right: none;
  top: 50px;
  padding: 0.3em 1em;
  position: absolute;
  text-shadow: 0 1px 0 #000;
  white-space: nowrap;
  z-index: 98;
  font-size: 1rem;
}
.preview .controls .btn-thumbs-down:hover::before {
  position: absolute;
  font-size: 1rem;
}
.preview .controls .btn-delete:hover::before {
  background: #111;
  background: rgba(0, 0, 0, 0.8);
  border-radius: 0.5em;
  color: #fff;
  content: "delete item";
  display: block;
  right: none;
  top: 50px;
  padding: 0.3em 1em;
  position: absolute;
  text-shadow: 0 1px 0 #000;
  white-space: nowrap;
  z-index: 98;
  font-size: 1rem;
}
.preview .controls .btn-delete:hover::before {
  position: absolute;
  font-size: 1rem;
}
.preview .controls .btn-back:hover::before {
  background: #111;
  background: rgba(0, 0, 0, 0.8);
  border-radius: 0.5em;
  color: #fff;
  content: "close this preview";
  display: block;
  right: none;
  top: 50px;
  padding: 0.3em 1em;
  position: absolute;
  text-shadow: 0 1px 0 #000;
  white-space: nowrap;
  z-index: 98;
  font-size: 1rem;
}
.preview .controls .btn-back:hover::before {
  position: absolute;
  font-size: 1rem;
}
.preview .controls .rating {
  height: 50px;
}
.preview .tag {
  padding: 0px 5px;
  margin-bottom: 2px;
  border-radius: 40px;
  background-color: orange;
  margin-left: 5px;
}
.preview .add-tag {
  color: black;
  border: none;
  background: none;
  padding: 0px 5px;
  width: 120px;
}
.preview .add-tag::placeholder {
  color: black;
}
.preview .add-tag:focus {
  outline: 0;
}
.preview .desc-box {
  max-height: 200px;
  overflow-y: auto;
}
.preview .actor-thumb {
  margin: 0 auto;
}
.preview .actor-thumb .img-container {
  border: 2px solid white;
  box-shadow: 1px 1px 5px rgba(0, 0, 0, 0.5), -1px -1px 5px rgba(0, 0, 0, 0.5);
  width: 120px;
  height: 150px;
  overflow: hidden;
  border-radius: 5px;
}
.preview .actor-thumb .img-container img {
  position: relative;
  bottom: 10px;
  width: 100%;
}
.preview .notes-area {
  width: 100%;
  margin-top: 15px;
  background-color: #dddddd;
  border-radius: 5px;
  border: none;
  border-bottom: 4px solid #fcb653;
  margin-bottom: 0px;
  height: 131px;
}
.preview .selected {
  border-radius: 10px;
  background-color: #ddd;
}
.preview .watched {
  border-radius: 10px;
  background-color: orange;
}
.preview .season-button {
  padding: 5px;
  cursor: pointer;
}

#add-or-edit-container {
  padding-top: 0px;
}
#add-or-edit-container #search-box {
  width: 100%;
  font-size: 1.3rem;
  border-bottom: 2px solid #fcb653;
}
#add-or-edit-container #search-box:focus-within {
  background-color: #ddd;
}
#add-or-edit-container #search-box input {
  height: 100%;
  width: 80%;
  background-color: rgba(0, 0, 0, 0);
  outline: none;
  border: none;
  padding: 0px 5px;
}

.results {
  overflow-x: hidden;
}

.result {
  position: relative;
  transition: all 0.5s;
}
.result:hover, .result:active {
  box-shadow: 1px 1px 5px rgba(0, 0, 0, 0.5), -1px -1px 5px rgba(0, 0, 0, 0.5);
  background-color: #c8c8c8;
  transform: scale(1.1);
}
.result .result-thumb {
  max-height: 92px;
}
.result .add {
  position: relative;
  background-color: #fcb653;
  position: relative;
  border-radius: 50%;
  width: 40px;
  height: 40px;
  top: 20px;
  font-size: 1rem;
  transition: all 0.1s;
}
.result .add:hover {
  background-color: #e2a34a;
}
.result .add:hover {
  top: 20px;
}
.result .add:hover::before {
  background: #111;
  background: rgba(0, 0, 0, 0.8);
  border-radius: 0.5em;
  color: #fff;
  content: "quick add to list, click anywhere else for more info";
  display: block;
  right: 75px;
  top: 0px;
  padding: 0.3em 1em;
  position: absolute;
  text-shadow: 0 1px 0 #000;
  white-space: wrap;
  z-index: 98;
  font-size: 1rem;
}
.result .add:hover::before {
  width: 300px;
  right: 10px;
  font-size: 0.7rem;
}
.result .add:active {
  top: 25px;
}

#results .result-btn {
  position: relative;
  background-color: #fcb653;
  box-shadow: 0px 4px 2px #e2a34a;
  border-radius: 10px;
  font-size: 1.3rem;
  padding: 5px 10px;
  margin-top: 5px;
  margin-bottom: 15px;
  transition: all 0.1s;
}
#results .result-btn:hover {
  top: 2px;
  box-shadow: 0px 2px 1px #e2a34a;
}

.manage-tags {
  overflow-x: hidden;
}
.manage-tags input[type=text] {
  margin: 10px;
  border: none;
  margin-bottom: 5px;
}
.manage-tags input[type=text]:focus {
  outline: none;
  background-color: #e6e6e6;
  border-bottom: solid 2px orange;
}
.manage-tags #collection-input {
  border-bottom: solid 2px orange;
}
.manage-tags .tag-wrapper {
  transition: all 0.1s;
}
.manage-tags .tag-wrapper:hover, .manage-tags .tag-wrapper:active {
  box-shadow: 1px 1px 5px rgba(0, 0, 0, 0.5), -1px -1px 5px rgba(0, 0, 0, 0.5);
  background-color: #e6e6e6;
}
.manage-tags .tag-wrapper:hover input[type=text], .manage-tags .tag-wrapper:active input[type=text] {
  background-color: #e6e6e6;
  border-bottom: 2px solid orange;
}

.obscure {
  display: none;
  position: fixed;
  top: 0;
  z-index: 5000;
  min-height: 100vh;
  width: 100vw;
  background-color: rgba(0, 0, 0, 0.5);
}
.obscure #add-or-edit-container {
  border-top: 2px solid orange;
  border-radius: 5px;
  margin: auto auto;
  position: relative;
  top: 50px;
  width: 95vw;
  max-width: 600px;
  max-height: 80vh;
  overflow-y: auto;
  overflow-x: hidden;
  background-color: white;
  box-shadow: 1px 1px 2px rgba(0, 0, 0, 0.1);
}
.obscure #add-or-edit-container #add-collection {
  padding: 0;
  border: none;
  border-bottom: 1px solid black;
}
.obscure #add-or-edit-container #add-new-label {
  pointer-events: none;
  position: absolute;
}

#background {
  position: absolute;
  width: 100vw;
  height: 100vh;
  background-color: #444444;
}

/*# sourceMappingURL=components.css.map */
