.preview {
  margin: 0 auto;
}
.preview .img-wrapper img {
  height: 270px;
  width: 180px;
}
.preview hr {
  width: 99%;
  border-top: 4px solid #fcb653;
}
.preview img {
  margin: 0 auto;
}
.preview .controls {
  margin-bottom: 10px;
  height: 60px;
  border-top: 2px solid orange;
  border-bottom: 2px solid orange;
}
.preview .controls div {
  width: 30px;
  height: 30px;
  border-radius: 50%;
  text-align: center;
}
.preview .controls .btn-add-to-list:hover::before {
  background: #111;
  background: rgba(0, 0, 0, 0.8);
  border-radius: 0.5em;
  color: #fff;
  content: "Add To List";
  display: block;
  right: none;
  top: 50px;
  padding: 0.3em 1em;
  position: absolute;
  text-shadow: 0 1px 0 #000;
  white-space: nowrap;
  z-index: 98;
  font-size: 1rem;
}
.preview .controls .btn-add-to-list:hover::before {
  position: absolute;
  font-size: 1rem;
}
.preview .controls .btn-thumbs-up:hover::before {
  background: #111;
  background: rgba(0, 0, 0, 0.8);
  border-radius: 0.5em;
  color: #fff;
  content: "like";
  display: block;
  right: none;
  top: 50px;
  padding: 0.3em 1em;
  position: absolute;
  text-shadow: 0 1px 0 #000;
  white-space: nowrap;
  z-index: 98;
  font-size: 1rem;
}
.preview .controls .btn-thumbs-up:hover::before {
  position: absolute;
  font-size: 1rem;
}
.preview .controls .btn-thumbs-down:hover::before {
  background: #111;
  background: rgba(0, 0, 0, 0.8);
  border-radius: 0.5em;
  color: #fff;
  content: "dislike";
  display: block;
  right: none;
  top: 50px;
  padding: 0.3em 1em;
  position: absolute;
  text-shadow: 0 1px 0 #000;
  white-space: nowrap;
  z-index: 98;
  font-size: 1rem;
}
.preview .controls .btn-thumbs-down:hover::before {
  position: absolute;
  font-size: 1rem;
}
.preview .controls .btn-delete:hover::before {
  background: #111;
  background: rgba(0, 0, 0, 0.8);
  border-radius: 0.5em;
  color: #fff;
  content: "delete item";
  display: block;
  right: none;
  top: 50px;
  padding: 0.3em 1em;
  position: absolute;
  text-shadow: 0 1px 0 #000;
  white-space: nowrap;
  z-index: 98;
  font-size: 1rem;
}
.preview .controls .btn-delete:hover::before {
  position: absolute;
  font-size: 1rem;
}
.preview .controls .btn-back:hover::before {
  background: #111;
  background: rgba(0, 0, 0, 0.8);
  border-radius: 0.5em;
  color: #fff;
  content: "close this preview";
  display: block;
  right: none;
  top: 50px;
  padding: 0.3em 1em;
  position: absolute;
  text-shadow: 0 1px 0 #000;
  white-space: nowrap;
  z-index: 98;
  font-size: 1rem;
}
.preview .controls .btn-back:hover::before {
  position: absolute;
  font-size: 1rem;
}
.preview .controls .rating {
  height: 50px;
}
.preview .tag {
  padding: 0px 5px;
  border-radius: 40px;
  background-color: orange;
  margin-left: 5px;
}
.preview .add-tag {
  color: black;
  border: none;
  background: none;
  padding: 0px 5px;
  width: 85px;
}
.preview .add-tag::placeholder {
  color: black;
}
.preview .add-tag:focus {
  outline: 0;
}
.preview .desc-box {
  max-height: 200px;
  overflow-y: scroll;
}
.preview .actor-thumb {
  margin: 0 auto;
}
.preview .actor-thumb .img-container {
  border: 2px solid white;
  box-shadow: 1px 1px 5px rgba(0, 0, 0, 0.5), -1px -1px 5px rgba(0, 0, 0, 0.5);
  width: 120px;
  height: 150px;
  overflow: hidden;
  border-radius: 5px;
}
.preview .actor-thumb .img-container img {
  position: relative;
  bottom: 10px;
  width: 100%;
}
.preview .notes-area {
  width: 100%;
  margin-top: 15px;
  background-color: #dddddd;
  border-radius: 5px;
  border: none;
  border-bottom: 4px solid #fcb653;
  margin-bottom: 0px;
  height: 131px;
}
.preview .watched {
  border-radius: 50%;
  background-color: #bbb;
}
.preview .selected {
  border-radius: 10px;
  background-color: orange;
}

#add-or-edit-container #search-box {
  margin-top: 5px;
  width: 100%;
  font-size: 1.5rem;
}

.results {
  overflow-x: hidden;
}

.result {
  position: relative;
  transition: all 0.5s;
}
.result:hover, .result:active {
  box-shadow: 1px 1px 5px rgba(0, 0, 0, 0.5), -1px -1px 5px rgba(0, 0, 0, 0.5);
  background-color: #c8c8c8;
  transform: scale(1.1);
}
.result .result-thumb {
  max-height: 92px;
}
.result .add {
  position: relative;
  background-color: #fcb653;
  position: relative;
  border-radius: 50%;
  width: 40px;
  height: 40px;
  top: 20px;
  font-size: 1rem;
  transition: all 0.1s;
}
.result .add:hover {
  background-color: #e2a34a;
}
.result .add:hover {
  top: 20px;
}
.result .add:hover::before {
  background: #111;
  background: rgba(0, 0, 0, 0.8);
  border-radius: 0.5em;
  color: #fff;
  content: "quick add to list, click anywhere else for more info";
  display: block;
  right: 75px;
  top: 0px;
  padding: 0.3em 1em;
  position: absolute;
  text-shadow: 0 1px 0 #000;
  white-space: wrap;
  z-index: 98;
  font-size: 1rem;
}
.result .add:hover::before {
  width: 300px;
  right: 10px;
  font-size: 0.7rem;
}
.result .add:active {
  top: 25px;
}

#results .result-btn {
  position: relative;
  background-color: #fcb653;
  box-shadow: 0px 4px 2px #e2a34a;
  border-radius: 10px;
  font-size: 1.3rem;
  padding: 5px 10px;
  margin-top: 5px;
  margin-bottom: 15px;
  transition: all 0.1s;
}
#results .result-btn:hover {
  top: 2px;
  box-shadow: 0px 2px 1px #e2a34a;
}

.manage-tags {
  overflow-x: hidden;
}
.manage-tags input[type=text] {
  margin: 10px;
  border: none;
  margin-bottom: 5px;
}
.manage-tags input[type=text]:focus {
  outline: none;
  background-color: #e6e6e6;
  border-bottom: solid 2px orange;
}
.manage-tags #collection-input {
  border-bottom: solid 2px orange;
}
.manage-tags .tag-wrapper {
  transition: all 0.1s;
}
.manage-tags .tag-wrapper:hover, .manage-tags .tag-wrapper:active {
  box-shadow: 1px 1px 5px rgba(0, 0, 0, 0.5), -1px -1px 5px rgba(0, 0, 0, 0.5);
  background-color: #e6e6e6;
}
.manage-tags .tag-wrapper:hover input[type=text], .manage-tags .tag-wrapper:active input[type=text] {
  background-color: #e6e6e6;
  border-bottom: 2px solid orange;
}

.obscure {
  display: none;
  position: fixed;
  top: 0;
  z-index: 5000;
  min-height: 100vh;
  width: 100vw;
  background-color: rgba(0, 0, 0, 0.5);
}
.obscure #add-or-edit-container {
  position: relative;
  top: 50px;
  width: 95vw;
  max-width: 600px;
  min-height: 300px;
  max-height: 80vh;
  overflow-y: scroll;
  overflow-x: hidden;
  background-color: white;
  box-shadow: 1px 1px 2px rgba(0, 0, 0, 0.1);
}
.obscure #add-or-edit-container #add-collection {
  padding: 0;
  border: none;
  border-bottom: 1px solid black;
}
.obscure #add-or-edit-container #add-new-label {
  pointer-events: none;
  position: absolute;
}

#background {
  position: absolute;
  width: 100vw;
  height: 100vh;
  background-color: #444444;
}

/*# sourceMappingURL=popup.css.map */
