@import "../../constants.scss";

#add-or-edit-container{
  #search-box{
    margin-top:5px;
    width:100%;
    font-size:1.5rem;
  }
}
.results{
    overflow-x:hidden; 
}
.result{
    position:relative;
    transition: all 0.5s;
    &:hover, &:active{
        box-shadow:$shadow;
        background-color: rgb(200,200,200);
        transform:scale(1.1);

    }
    .result-thumb{
      max-height:92px;
    }
}